  /*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS MAIN•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/



main{
    height: 2000px;
    
}


h1{
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 3rem;
    color:  rgba(12, 12, 167, 0.692);
}

h2{
    padding-top: 15px;
    padding-bottom: 35px;
   text-align: center;
    color:  rgba(0, 0, 0, 0.418);
    font-size: 1.5rem;

}

h3{
    margin-bottom: 25px;
    text-align: center;
}

section.evenements-top{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    width: 100%;
    margin: 0;
}

.evenements-top p,
.evenements-top h3{
   text-align: center; 
   font-size: 1.1rem;
}

.evenements-top h3{
    text-transform: uppercase;
    color:rgb(145, 203, 221) ;
}

.evenements-top p{
    margin-bottom: 20px;
   font-style: italic;
}



.assemblee{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

}

.assemblee, 
.jeunes, 
.adults{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
margin: 25px;

}

.culte, 
.disciple,
.jeune,
.kids, 
.femme,
.homme{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 30px;
  
      
}

.groupe-maison{
    display: flex;
    align-items: center;
    width: 450px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 10px;
}


.image img{
    width: 200px;
    height: 200px;
    border: 4px solid rgb(145, 203, 221);
    margin: 0;
    padding: 0;
    border-radius:20%;
    
}

.evenement-annuel{
    height: 400px;
    background: url(/Assets/camp2023.JPG) no-repeat center;
    width: 100%;
    background-size: cover;
    cursor: pointer;
}

.evenement-annuel h2{
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff65;
    text-decoration: none;
    width: 200px;
  
}

.blanc{
    height: 100px;
    width: 100%;
}

.evenements-down{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 
}
 .list{
    padding: 5px;
    width: 25%
 }
 .affiche{
    width: 30%;
 }


.sport{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.volley img,
.football img{
height: 200px;
width: 150px;
padding: 0px;
border-radius: 5px;

}

.evenements-list{
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(145, 203, 221);
   width: 100%;

   
}

.affiche img{
    display: inline;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.evenements-contacts{
    padding-left: 25px;
    width: 30%;
    text-align: center;

}
.evenements-contacts img{
    width: 25;
}
