@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300;1,400&display=swap');

/*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS GLOBAL••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/



*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Roboto', sans-serif;
}


body{
    margin: 0px;
    min-height: 100%;
    width: 100%;
    min-width: 1105px;
   
 }


/*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS HEADER•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/

header{
    
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    background-color: rgba(51, 95, 51, 0.503);
    
 }

 .logo{
    text-align: center;
 }

.logo img{
    height: 80px;
    border-radius: 40%;
}

.logo p{
margin-top: 15px;
text-align: center;
text-transform:uppercase;
color:  rgb(51, 95, 51);
}

span{
    font-weight: 700;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
   
}

li{
    list-style: none;
}

ul li a{
    padding-right: 60px;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}

ul li a:hover{
    color: red;
}


img{
padding-left: 10%;
  margin-top: -10px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;

}

button{
    padding: 20px;
    border-radius: 10px;
    margin-right: 35%;
    border: none;
    box-shadow: 0 8px 32px 0 rgb(51, 95, 51);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    text-align: center;
}

button:hover{
    background-color: rgb(51, 95, 51) ;
    color: #fff;
}




@media screen and (min-width: 1121px) {
    /* Ajoutez ici les styles CSS que vous souhaitez appliquer à partir de 1121px de large */
  }

  /*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS MAIN•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/

main{
    height:1800px;
    padding: 50px;
}






/*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS FOOTER•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/


footer {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.247);
    width: 100%;
    height: 200px;
    bottom:0;
   
   
     
}

footer ul li{
    margin: 10px;
}

footer ul li p{
    color: #fff;
    font-style: italic;
}




