  /*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS MAIN•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/

main{
    height:2000px;
    padding: 50px;
}

h2{
    font-size: 1.5rem;
}


.carousel-container {
    position: relative;
    width: 100%;
    height: 300px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
  }
  
  .carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-slide.active {
    opacity: 1;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .valeurs{
    padding: 25px;
    text-align: center;
    margin-bottom: 30px;
  }

  .box-image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
  }

  .box-image img{

    height: 250px;
    width: 250px;
    border-radius: 100%;
    padding: 0;
    margin: 10px;
    border: 4px solid rgb(95, 175, 196);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.400);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  .box-image p{
    padding: 15px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 45px;
    border: 3px solid  rgb(95, 175, 196);
    border-radius: 15px;
    width: 200px;
    text-align: center;
    color: rgb(95, 175, 196);
    
  }

  .mission{
    width: 70%;
    margin: 0 auto;

  }

  .mission p{
    padding-top: 30px;
    margin-bottom: 25px;
  }

section.home-down{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: center;

}
  .logo-partenaires{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 45px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
  }

  .home-down .reseaux{
    margin-top: 35px;
    text-align: center;
    text-decoration: none;
  }

  .home-down .reseaux h2{
    text-align: center;
    font-size: 2rem;
  }

 .home-down .reseaux img{
    margin-top: 25px;
    width: 25px;
    
  }

  .adress{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin: 55px;
    padding: 25px;
    background-color: #ffffff2f;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.400);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
  }

  .adress-detail{
    width: 30%;
    margin-right: 25px;
    text-align: center;
    padding: 15px;
    
  }

  .adress-detail h3{
margin-bottom: 25px;
  }

.adress-card{
    height:70% ;
    text-align: end;
}

  .adress-card img{
 width: 80%;
 height: 80%;
 
  }
