.carousel-container {
    position: relative;
    width: 100%;
    height: 300px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
  }
  
  .carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-slide.active {
    opacity: 1;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .valeurs{
    padding: 25px;
    text-align: center;
    margin-bottom: 30px;
  }

  .box-image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .box-image img{

    height: 200PX;
    border-radius: 30%;
  }

  .box-image p{
    position: absolute;
    margin-top: -150px;
    margin-left: 225px;
    color: #fff;
    font-size: 1.5rem;
    color: #fff;
  }

  .mission{
    width: 70%;

    margin: 0 auto;

   
  }

  .mission p{
    padding-top: 30px;
  }

.home-down{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;

}
  .logo-partenaires{

    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
  }

 .home-down .reseaux a{
    padding-top: 25px;
  }