  /*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS MAIN•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/



main{
    height: 1200px;
    padding: 50px;
}

h1{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 3rem;
    color:  rgba(12, 12, 167, 0.692);
}

.contacts-top{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 60px;
    color: black;
   
}

.contacts-down{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;

}

.formulaire{
    
    background-color: #08075536;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0  ;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color:  rgba(12, 12, 167, 0.692);
    color: #fff;
}
.card{
  
    border-radius: 10px;
}

.formulaire{
    height: 700px;  
    width: 400px;
}

.sujet{
    margin-bottom: 15px;
}

.formulaire h2{
    margin-bottom: 25px;
}

.formulaire input{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}


input#prenom,
input#nom,
input#email,
input#telephone{
width: 350px;
}


select#sujet{
    
    padding: 8px;
    width: 350px;
    border-radius: 5px;
    cursor: pointer;
}

.message label{
    padding-bottom: 5px;
}

form button{
    margin-top: 10px;
    width: 350px;
    color:#fff;
    text-transform: uppercase;
    background-color:rgba(37, 37, 35, 0.503) ;
    }

form button:hover{
    color:#fff;
    background-color:peru ;
    }


.card img{
    width: 450px;
    height: 450px;
    margin: 0;
    padding: 0;
}






